{% extends 'base-app/base.html' %} {% block styles %} {{ block.super }}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> {% endblock %} {% block content %}

<div class="container container-fluid">
    <section id="main">
        {% for img in images %}
        <div class="row">
            <div class="col-md-6">
                <div class="card bg-dark text-white" style="width: 18rem; height: fit-content">
                    <img src="{{img.image.url}}" class="card-img" alt="{{img.description}}" class="img-fluid">
                    <div class="card-img-overlay">
                        <p id="copy-url">
                            <a href="#" class="card-text"><i class="medium material-icons">content_copy</i></a>
                        </p>
                    </div>
                </div>
                {% empty %}
                <h2 class="no-img">There No Images to show.</h2>
            </div>
        </div>
        {% endfor %}

    </section>
</div>
<!-- <script src="/app/static/scripts/register.js"></script> -->

{% endblock %}