{% extends 'base-app/base.html' %} {% load static %} {% block styles %} {{ block.super }}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> {% endblock %} {% block content %}

<div class="container container-fluid">
    <section id="main">
        {% for img in images %}
        <div class="row">
            <div class="col-md-6">
                <div class="card bg-dark text-white" style="width: 18rem; height: fit-content">
                    <img src="{{img.image.url}}" class="card-img" alt="{{img.description}}" class="img-fluid">
                    <div class="card-img-overlay" id="myBtn">
                        <p id="copy-url">
                            <input style="height:1px; width:1px;visibility: hidden" type="text" value='{{ img.image.url }}' id="image-link-id">
                            <a href="#" onclick="myFunction()" class="card-text"><i class="medium material-icons">content_copy</i></a>
                        </p>
                        <!-- The Modal -->
                        <div id="myModal" class="modal">
                            <!-- modal header -->
                            <div class="modal-header">
                                <div class="title">{{ img.name }}</div>
                                <span class="close">&times;</span>
                            </div>
                            <!-- Modal content -->
                            <div class="modal-body" style="width:fit-content; height: fit-content;">
                                <h3> Image Details</h3>
                                <img src="{{img.image.url}}" class="card-img" alt="{{img.description}}" class="img-fluid" style="width: 24rem; height: 25rem;">
                                <p class="modal-description">
                                    Description: {{ img.description }}
                                </p>
                                <p class="modal-location">
                                    Location: {{ img.location }}
                                </p>
                                <p class="modal-category">
                                    Category: {{ img.category }}
                                </p>
                                <p class="modal-posted-at">
                                    Uploaded at: {{ img.uploaded_at }}
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                {% empty %}
                <h2 class="no-img">There No Images to show.</h2>
            </div>
            {% endfor %}
        </div>

    </section>
</div>
<script src="{% static 'scripts/main.js' %}"></script>

{% endblock %}