{%extends 'base-app/base.html'%} {% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width:fit-content">

                {% if images%}
                <h2>Found {{ images|length }} image(s) of the searched category: {{message}}</h2>
                {% else %}
                <h2> Found 0 images for the searched category: {{message}}</h2>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="container" style="width: 21rem; height:30rem; ">
                {% if images %} {% for image in images %}
                <div class="col-sm-6 col-md-3">
                    <img src="{{image.image.url}}" alt="{{image.description}}" class="img-fluid">
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}