{% extends 'base.html' %} {% block content %}
<h1 class="text-center">Gallery | personal</h1>

<section>
    <div class="container-fluid">
        <div class="container-xxl">
            <div class="row">
                {% for img in images %}
                <div class="row">
                    <img src="{{img.image.url}}" alt="{{img.description}}">
                </div>
                {% empty %}
                <div class="row">
                    <h2 class="text-center">There No Images to show.</h2>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}