<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">myGallery</a>
            <div class="col-sm-4 col-md-4 navbar-right">
                <form class="d-flex" role="search" action="{% url 'search_results' %}">
                    <div class="input-group">
                        <input class="form-control me-2" type="text" placeholder="Search Category" aria-label="Search" name="category">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </nav>

</body>

</html>